// color variables

$logo-color: #FFFFFF;
$button-text-color: #FFFFFF;
$arrow-color: #C9ADA1;
$user-handle-text-color: #949388;
$body-text-color: #545149;
$body-background-color: #f4f1ec;
$nav-background-color: #4056A1;
$user-profile-background-color: #eae0cc;
$action-hover-color: #c5a343;
$hover-shadow-color: rgba(0, 0, 0, 0.4);
$tweet-hover-shadow-color: rgba(64, 86, 161, 0.4);
$error-message-color: #c40101;
$border-color: #726b64;
$go-top-button-color: rgba(197, 163, 67, 0.6);
$go-top-button-color-hover: rgba(197, 163, 67, 0.9);