@import "colors";
@import "mixins";

.user-profile {
  padding-top: 120px;
  margin-bottom: 1em;
  width: 100%;
  height: 450px;
  background-color: $user-profile-background-color;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
  @include flexbox($direction: column);
}

.profile-pic {
  @include profile-pic;
}