@import "colors";
@import "mixins";

.new-tweet {
  display: none;
  padding: 1em 0;

  .tweet-form {
    @include flexbox($direction: column, $justify: space-around, $align: stretch);

    #tweet-text {
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      border-bottom: 4px solid $border-color;
      height: 6rem;
    }

    label {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

/* button and counter*/
.send-tweet {
  padding: 1rem 0;
  height: 40px;
  @include flexbox($justify: space-between);

  /* button style */
  .submit-button {
    font-family: 'Bungee', sans-serif;
    font-size: 1rem;
    color: $button-text-color;
    background-color: $nav-background-color;
    padding: 6px 10px;
    border: none;
    transition: box-shadow 0.15s;

      &:hover {
        box-shadow: 2px 2px 2px $hover-shadow-color;
      }

      &:active {
        margin-top: 2px;
        margin-left: 2px;
        box-shadow: none;
        background-color: $action-hover-color;
        color: $nav-background-color;
      }
  }

  /* counter style */
  .counter {
    align-self: center;
    font-family: 'Bungee', sans-serif;
    font-size: 1.25rem;
  }
}

/* error massage */
.error-message {
  display: none;
  border: 3px solid $error-message-color;
  justify-content: flex-start;
  align-items: center;
  font-size: .75em;
  color: $error-message-color;
  padding: 4px 4px;
  margin-top: 16px;

  .empty-error {
    display: none;
  }

  .exceed-error {
    display: none;
  }
}





