
/* Logo */
.logo {
    font-family: 'Bungee', sans-serif;
    padding-left: 1.5em;
}

/* Nav */
.white {
    color: #FFFFFF;
}

.red {
    color: #c40101;
}

#add-tweet a {
    text-decoration: none;
}

#add-tweet .bold {
    font-weight: 600;
}

nav {
    width: 100%;
    height: 120px;
    background-color: #4056A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-tweet {
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




