.new-tweet {
  display: none;
  padding: 1em 0;
}
.new-tweet .tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.new-tweet .tweet-form #tweet-text {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 4px solid #726b64;
  height: 6rem;
}
.new-tweet .tweet-form label {
  font-size: 1.5rem;
  font-weight: 600;
}

/* button and counter*/
.send-tweet {
  padding: 1rem 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* button style */
  /* counter style */
}
.send-tweet .submit-button {
  font-family: "Bungee", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 6px 10px;
  border: none;
  transition: box-shadow 0.15s;
}
.send-tweet .submit-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.send-tweet .submit-button:active {
  margin-top: 2px;
  margin-left: 2px;
  box-shadow: none;
  background-color: #c5a343;
  color: #4056A1;
}
.send-tweet .counter {
  align-self: center;
  font-family: "Bungee", sans-serif;
  font-size: 1.25rem;
}

/* error massage */
.error-message {
  display: none;
  border: 3px solid #c40101;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75em;
  color: #c40101;
  padding: 4px 4px;
  margin-top: 16px;
}
.error-message .empty-error {
  display: none;
}
.error-message .exceed-error {
  display: none;
}
