.tweets-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 1em;
}
.tweets-container .tweet {
  border: 4px solid #726b64;
  padding: 0.5em;
  transition: box-shadow 0.15s;
}
.tweets-container .tweet:hover {
  box-shadow: 4px 4px 4px rgba(64, 86, 161, 0.4);
}
.tweets-container .tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}
.tweets-container .tweet header .sm-user-image {
  margin-right: 0.25em;
  width: 60px;
  object-fit: contain;
  object-position: center;
}
.tweets-container .tweet header .user-name {
  font-weight: 300;
  font-size: 1em;
  flex-grow: 3;
}
.tweets-container .tweet header .user-handle {
  color: #949388;
  font-weight: 600;
  font-size: 1em;
}
.tweets-container .tweet .tweet-text {
  font-weight: 600;
  padding: 2em 0.5em;
  border-bottom: 4px solid #726b64;
  overflow-wrap: break-word;
}
.tweets-container .tweet footer {
  font-size: 0.75em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tweets-container .tweet footer .action-icons i {
  transition: color 0.15s;
}
.tweets-container .tweet footer .action-icons i:hover {
  color: #c5a343;
}
